node_modules
**/node_modules
logs
mongoDB/logs
errors
garbage
__MACOSX
__upload
build
source
**/source
tests/data
**/data
**/md/img
.env
.vscode
*.cer
*.pem
*.jsonl
README.*
qualifiedSolutions
paramsFactory/**/temp
yarn.lock
package-lock.json